*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f8f8f8;
color:#333;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#111;
color:#fff;
}

.logo{
font-size:28px;
font-weight:bold;
color:#FFD700;
}

.menu{
display:flex;
list-style:none;
gap:30px;
}

.menu a{
color:white;
text-decoration:none;
font-weight:500;
}

.menu a:hover{
color:#FFD700;
}

.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("https://images.unsplash.com/photo-1502741338009-cac2772e18bc?w=1600");
background-size:cover;
background-position:center;
color:white;
}

.hero h1{
font-size:55px;
margin-bottom:15px;
}

.hero p{
font-size:22px;
margin-bottom:25px;
}

.btn{
background:#FFD700;
padding:15px 35px;
text-decoration:none;
color:#000;
border-radius:30px;
font-weight:bold;
}

.about,
.products,
.contact{
padding:80px 10%;
text-align:center;
}

.products{
background:white;
}

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}
